{% extends "base.html" %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='sirius.css') }}">
{% endblock %}

{% block header %}
<div class="header-content">
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('sirius') }}">Project Sirius</a></li>
        <li><a href="{{ url_for('price_stats') }}">TimeBoxed</a></li>
        <li><a href="{{ url_for('download_resume') }}">Resume</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
</nav>
</div>
{% endblock %}

{% block content %}
<section class="project-sirius">
  <div class="container">
    <h2>Project Sirius Classes</h2>
    <div class="class-grid">
      {% for class in classes %}
      <div class="class-card">
        <h3>{{ class.title }}</h3>
        <p>{{ class.description }}</p>
        <a href="{{ class.link }}" target="_blank">Watch Class</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
